
#outside_div
{
    border: 1px red solid;
    background-color: brown;
}

#counting
{
    border: 1px green solid;
    background-color: aliceblue;
}

#rev_counting
{
    border: 1px solid purple;
    background-color: aquamarine;
}