<<<<<<< HEAD

#outside_div
{
    border: 1px red solid;
    background-color: brown;
}

#counting
{
    border: 1px green solid;
    background-color: aliceblue;
}

#rev_counting
{
    border: 1px solid purple;
    background-color: aquamarine;
=======
.right
{
    border: 1px red solid;
}

.nav
{
    border: 2px green solid;
>>>>>>> 3874213b411a67a898a45f27b3250bccd5d8f656
}